In [1]:
import pandas as pd
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

In [2]:
nltk.download("vader_lexicon")

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\MaxiJ\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [3]:
Reviews = pd.read_parquet("../Datasets_finales/user_reviews.parquet")

In [4]:
Reviews

,user_id,item_id,recommend,review
0,76561197970982479,1250,True,Simple yet with great replayability. In my opi...
1,76561197970982479,22200,True,It's unique and worth a playthrough.
2,76561197970982479,43110,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,251610,True,I know what you think when you see this title ...
4,js41637,227300,True,For a simple (it's actually not all that simpl...
...,...,...,...,...
58453,76561198312638244,70,True,a must have classic from steam definitely wort...
58454,76561198312638244,362890,True,this game is a perfect remake of the original ...
58455,LydiaMorley,273110,True,had so much fun plaing this and collecting res...
58456,LydiaMorley,730,True,:D
58457,LydiaMorley,440,True,so much fun :D

In [5]:
def Analisis_Sentimientos(texto):
        if texto is None or texto == "":
            return 1
        else:
            analisis = SentimentIntensityAnalyzer()
            sentimiento = analisis.polarity_scores(texto)['compound']
            if sentimiento > 0.2:
                return 2
            elif sentimiento < -0.2:
                return 0
            else:
                return 1

In [6]:
Reviews["sentiment_analysis"] = Reviews["review"].apply(Analisis_Sentimientos)

In [7]:
Reviews.drop("review",axis=1,inplace=True)

In [8]:
Reviews.head(10)

             user_id item_id recommend  sentiment_analysis
0  76561197970982479    1250      True                   2
1  76561197970982479   22200      True                   2
2  76561197970982479   43110      True                   2
3            js41637  251610      True                   2
4            js41637  227300      True                   2
5            js41637  239030      True                   2
6          evcentric  248820      True                   2
7          evcentric  370360      True                   2
8          evcentric  237930      True                   2
9          evcentric  263360      True                   1

In [9]:
Reviews.to_parquet("../Datasets_endpoints/user_reviews_sentiment.parquet")